/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,em,address{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%; font-weight:normal;}
sup,sub{font-size:83%;}
pre,code,samp{font-family:inherit;}
textarea{overflow:auto;resize:none;}
label{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,legend{font:14px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover{color:#333;}
body {font-weight: normal; line-height: 20px;  overflow: auto; height:100%; position:relative; }
div, form, img, ul, ol, li, dl, dt, dd, table, td, p ,input,button{border:0; }
li { list-style-type:none; padding:0; line-height:20px; }
a, a:hover, a:link { border:none;color:inherit;}
a:focus{outline:none;}
body{font-family: "MicroSoft YaHei";background:#f4f4f4;}
*{-webkit-user-select:none;}
input,button,select{font-family:"瀵邦喛钂嬮梿鍛寸拨";}

.nav_left{position:fixed;left:0px;top:0px;width:180px;height:100%;padding:0px 20px;background:#3f3f3f;z-index:10;}
.nav_left_logo{margin-top:30px;text-align:center;}
.nav_left_xtglc{width:100%;text-align:center;font-weight:bold;font-size:18px;color:#fff;height:20px;line-height:20px;margin-top:10px;}
.nav_left_xtgle{width:100%;text-align:center;margin-top:10px;}
.nav_left_list{width:100%;margin-top:55px;}
.nav_left_list>li{width:100%;height:48px;box-sizing:border-box;padding:14px 10px;border-radius:5px;margin-bottom:15px;cursor:pointer;color:#aaaaaa;}
.nav_left_list_pic{width:16px;height:20px;float:left;text-align:center;position:relative;margin-left:15px;}
.nav_left_list_pic img{position:absolute;left:0px;top:0px;right:0px;bottom:0px;margin:auto;}
.nav_left_list_img2{display:none;}
.nav_left_list_font{float:left;height:20px;line-height:20px;font-size:16px;margin-left:10px;width:calc(100% - 16px -10px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.nav_left_list .nav_left_list_liclick{background:#06c1ae;color:#fff;}
.nav_left_list_liclick .nav_left_list_pic .nav_left_list_img1{display:none;}
.nav_left_list_liclick .nav_left_list_pic .nav_left_list_img2{display:block;}
/*婢舵挳鍎�*/
.header{position:fixed;top:0px;height:80px;padding:20px;left:220px;width:calc(100% - 220px);background:#ffffff;box-sizing:border-box;z-index:10;}
.header_nav{float:left;color:#999999;font-size:14px;line-height:40px;height:40px;}
.header_nav span{cursor:pointer;}
.header_nav i{margin:0px 5px;}
.header_navspan_chhose{color:#333333;}
.header_close{color:#666666;font-size:14px;line-height:40px;height:40px;float:right;cursor:pointer;}
.header_close img{vertical-align:-3px;margin-right:10px;}
.header_zhy{padding:0px 25px;height:32px;line-height:32px;text-align:center;color:#fff;font-size:16px;background:#06c1ae;border-radius:32px;float:right;position:relative;margin-right:20px;margin-top:9px;cursor:pointer;}
.header_zhy::before{position:absolute;content:"";height:8px;width:8px;right:1px;bottom:1px;background:#009f8f;border-radius:50%;}
.header_zhy::after{position:absolute;content:"";height:3px;width:3px;right:-3px;bottom:-1px;background:#009f8f;border-radius:50%;}
/*妫ｆ牠銆夌粻锛勬倞*/
.primary{margin-top:100px;margin-left:240px;background:#fff;width:calc(100% - 240px - 20px);margin-bottom:20px;box-sizing:border-box;padding:0.1px 40px 20px;}
.primary:after{content:".";display:block;height:0px;clear:both;visibility:hidden;}
.bodymatter_nav{width:100%;margin:40px 0px 10px;overflow:hidden;}
.bodymatter_nav_list{width:100%;}
.bodymatter_nav_list::after{content:".";display:block;height:0px;clear:both;visibility:hidden;}
.bodymatter_nav_list>li{float:left;min-width:100px;box-sizing:border-box;height:38px;line-height:24px;margin-right:28px;text-align:center;font-size:20px;cursor:pointer;color:#666666;margin-bottom:20px;}
.bodymatter_nav_list .bodymatter_nav_list_liclick{border-bottom:#06c1ae solid 4px;font-weight:bold;color:#06c1ae;}
.bodymatter_con{width:100%;}
.bodymatter_con::after{content:".";display:block;clear:both;visibility:hidden;}
.bodymatter_con_list{overflow:hidden;}
.bodymatter_con_list>li{width:500px;height:391px;background:#f8f8f8;position:relative;margin-bottom:16px;margin-right:16px;border-radius:5px;overflow:hidden;box-sizing:border-box;padding:20px;float:left;}
.bodymatter_con_list>li:nth-of-type(3n){margin-right:0px;}
.bodymatter_con_list .bodymatter_con_list_add{background:url("../../images/img_web/bodymatter_con_list_liadd.png") no-repeat;background-size:100% 100%;cursor:pointer;}
.bodymatter_con_num{position:absolute;display:block;width:44px;height:44px;background:url("../../images/img_web/bodymatter_con_num_bj.png");background-size:100% 100%;background-position:0px 0px;color:#fff;font-size:16px;box-sizing:border-box;padding:0px 7px;line-height:25px;left:0px;top:0px;}
.bodymatter_con_list_czimg{float:right;}
.bodymatter_con_list_czimg span{margin-left:20px;cursor:pointer;}
.bodymatter_con_list_title{font-size:16px;width:100%;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#333333;clear:both;margin-top:30px;}
.bodymatter_con_list_pic{width:100%;height:242px;box-sizing:border-box;padding:11px;background:#fff;overflow:hidden;margin-top:20px;}
.bodymatter_con_list_pic img{width:100%;height:100%;}
.bodymatter_con_list_tfont{width:100%;height:18px;line-height:18px;color:#999999;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:20px;}
.bodymatter_con_list_fileadd{position:absolute;width:100%;height:100%;cursor:pointer;opacity:0;}
.bodymatter_con_navlist{width:100%;}
.bodymatter_con_navlist>li{width:100%;display:none;}
/*閸氼剙濮�*/
.bodymatter_con_tllist>li{height:423px;}
.bodymatter_con_tllist_js{width:100%;overflow:hidden;font-size:14px;height:20px;line-height:20px;margin-top:10px;color:#999999;}
.bodymatter_con_tllist_jsname{float:left;width:62%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.bodymatter_con_tllist_jsnum{float:right;width:35%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;}
/*瀵湱鐛�*/
.fixed_tc{position:fixed;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:11;}
/*妫ｆ牠銆夌粻锛勬倞瀵湱鐛�1*/
.fixed_sygl1{position:fixed;width:1000px;background:#fff;border-radius:5px;box-sizing:border-box;padding:30px;left:50%;top:50%;transform:translate(-50%,-50%);}
.fixed_sygl1_sou{width:100%;}
.fixed_sygl1_sou::after{content:".";height:0px;display:block;clear:both;visibility:hidden;}
.fixed_sygl1_sinput{float:left;font-size:14px;color:#666666;line-height:40px;}
.fixed_sygl1_schoose{float:left;font-size:14px;color:#666666;line-height:40px;margin-left:30px;}
.fixed_sygl1_sreset{float:right;width:100px;height:40px;border:#999999 solid 1px;box-sizing:border-box;background:#fff;border-radius:3px;color:#666666;letter-spacing:5px;padding-left:5px;}
.fixed_sygl1_sbtn{float:right;width:100px;height:40px;box-sizing:border-box;background:rgba(6,193,174,1);font-size:14px;color:#fff;border-radius:3px;letter-spacing:5px;padding-left:5px;margin-right:20px;}
.fixed_sygl1_sbtn:hover{background:rgba(6,193,174,0.8);}
.fixed_sygl1_sbtn:active{background:rgba(6,193,174,0.9);}
.fixed_sygl1_schoose_font{float:left;}
.fixed_sygl1_schoose .search_r{float:left;margin-left:10px;width:260px;}
.fixed_sygl1_sinput_text{width:260px;height:40px;border:#dddddd solid 1px;box-sizing:border-box;padding:0px 20px;margin-left:10px;font-size:14px;border-radius:3px;color:#333333;}
.fixed_sygl1_sslect{width:260px;height:40px;border:#dddddd solid 1px;box-sizing:border-box;padding:0px 20px;margin-left:10px;font-size:14px;border-radius:3px;color:#333333;}
.fixed_sygl1_table{margin-top:30px;}
.fixed_sygl1_tablechoose{color:#06c1ae;}
.fixed_sygl1_tablename{width:140px;}
.fixed_sygl1_close{position:absolute;right:-27px;top:0px;cursor:pointer;}
/*閸忣剙鍙￠弽宄扮础*/
.display_none{display:none !important;}
.display_block{display:block !important;}
.opacity0{opacity:0 !important;}
.opacity1{opacity:1 !important;}
.rotate180{transform:rotate(180deg) !important;}
/*妫ｆ牠銆夌粻锛勬倞瀵湱鐛�2*/
.fixed_sygl2{width:600px;background:#fff;position:fixed;border-radius:5px;padding:0.1px;left:50%;top:50%;transform:translate(-50%,-50%);}
.fixed_sygl2_title{width:calc(100% - 80px);margin:40px 40px 0px;height:35px;line-height:22px;font-size:20px;color:#666666;font-weight:bold;position:relative;}
.fixed_sygl2_title::before{position:absolute;content:"";width:40px;height:3px;background:#eeeeee;bottom:0px;left:0px;}
.fixed_sygl2_title span{color:#06c1ae;margin-left:10px;}
.fixed_sygl2_primary{width:calc(100% - 120px);margin:30px 80px 0px 40px;}
.fixed_sygl2_primary_name{width:100%;}
.fixed_sygl2_primary_name:after{content:".";display:block;height:0px;clear:both;visibility:hidden;}
.fixed_sygl2_primary_namefont{float:left;display:block;height:40px;line-height:40px;color:#707070;font-size:14px;text-align:right;width:70px;margin-right:10px;}
.fixed_sygl2_primary_nameinput{float:left;width:380px;height:40px;box-sizing:border-box;border:#dddddd solid 1px;padding:0px 20px;border-radius:3px;color:#333;}
.fixed_sygl2_primary_pic{margin-top:20px;width:100%;}
.fixed_sygl2_primary_pic:after{content:".";display:block;height:0px;clear:both;visibility:hidden;}
.fixed_sygl2_primary_piccon{float:left;width:calc(100% - 80px);}
.fixed_sygl2_primary_picupload{width:100px;height:100px;position:relative;border-radius:5px;overflow:hidden;}
.fixed_sygl2_primary_upload{position:absolute;width:100%;height:100%;z-index:1;}
.fixed_sygl2_primary_upload img{width:100%;height:100%;}
.fixed_sygl2_primary_upinput{position:absolute;width:100%;height:100%;opacity:0;left:0px;top:0px;cursor:pointer;}
.fixed_sygl2_primary_uploadpic{position:absolute;width:100%;height:100%;left:0px;top:0px;z-index:2;}
.fixed_sygl2_primary_uploadpic_img{width:100%;height:100%;}
.fixed_sygl2_primary_uploadpic_close{cursor:pointer;position:absolute;right:0px;top:0px;cursor:pointer;}
.fixed_sygl2_primary_picts{line-height:20px;color:#999999;font-size:14px;margin-top:8px;}
.fixed_sygl2_primary_con{width:100%;margin-top:25px;}
.fixed_sygl2_primary_con:after{content:".";display:block;height:0px;clear:both;visibility:hidden;}
.fixed_sygl2_primary_condiv{width:380px;height:40px;box-sizing:border-box;border:#dddddd solid 1px;border-radius:3px;padding:3px;float:left;}
.fixed_sygl2_primary_conbtn{float:right;width:80px;height:32px;background:rgba(6,193,174,1);font-size:14px;color:#fff;border-radius:3px;position:relative;text-align:center;line-height:32px;}
.fixed_sygl2_primary_conbtn:hover{background:rgba(6,193,174,0.8);}
.fixed_sygl2_primary_conbtn:active{background:rgba(6,193,174,0.9);}
.fixed_sygl2_primary_confile{position:absolute;width:100%;height:100%;left:0px;top:0px;opacity:0;}
.fixed_sygl2_primary_confont{float:left;width:calc(100% - 120px);height:32px;line-height:32px;margin-left:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.fixed_sygl2_bottom{margin-top:50px;margin-bottom:20px;border-top:#eeeeee solid 1px;width:100%;}
.fixed_sygl2_bottom_btn{margin-top:20px;text-align:center;}
.fixed_sygl2_bottom_bc{width:100px;height:40px;background:rgba(6,193,174,1);color:#ffffff;letter-spacing:5px;padding-left:5px;border-radius:4px;}
.fixed_sygl2_bottom_bc:hover{background:rgba(6,193,174,0.8);}
.fixed_sygl2_bottom_bc:active{background:rgba(6,193,174,0.9);}
.fixed_sygl2_bottom_qx{width:100px;height:40px;background:rgba(238,238,238,1);color:#333333;letter-spacing:5px;padding-left:5px;border-radius:4px;margin-left:20px;}
.fixed_sygl2_bottom_qx:hover{background:rgba(238,238,238,0.8);}
.fixed_sygl2_bottom_qx:active{background:rgba(238,238,238,0.9);}
/*閻ц缍�*/
.login_bj{position:fixed;top:0px;left:0px;width:100%;height:100%;background:-webkit-linear-gradient(top,#06c1ae 0%,#00a897 100%);}
.login_copyright{position:absolute;bottom:40px;left:0px;text-align:center;height:20px;line-height:20px;font-size:12px;color:#fff;width:100%;}
.login_box{position:absolute;width:691px;height:849px;background:url("../style/img_web/login_dlbj.png") no-repeat;left:0px;right:0px;bottom:-150px;margin:auto;}
.login_con_title{text-align:center;color:#fff;position:absolute;top:-50px;left:0px;width:100%;}
.login_con_title1{font-size:60px;height:70px;line-height:70px;letter-spacing:10px;padding-left:10px;}
.login_con_title2{font-size:24px;height:26px;line-height:26px;margin-top:20px;letter-spacing:5px;padding-left:5px;}
.login_content{margin-top:90px;}
.login_content span { width:100%; line-height:20px; display:block; margin-top:35px; color:#f0ab00;}
.login_content_text{height:42px;width:290px;border-bottom:#fff solid 1px;background:none;color:#fff;text-align:center;display:block;margin:0px auto;font-size:16px;}
.login_content_pwd{height:42px;width:290px;border-bottom:#fff solid 1px;background:none;color:#fff;text-align:center;display:block;margin:0px auto;margin-top:28px;font-size:16px;}
.login_content_text::-webkit-input-placeholder{color:rgba(255,255,255,0.7);}
.login_content_pwd::-webkit-input-placeholder{color:rgba(255,255,255,0.7);}
.login_content_btn{width:300px;height:40px;border:#fff solid 2px;font-size:18px;font-weight:bold;letter-spacing:5px;padding-left:5px;border-radius:40px;margin-top:10px;background:none;color:#fff;font-family:"瀵邦喛钂嬮梿鍛寸拨";}
.login_content_btn:hover{background:#fff;color:#02b19f;}
@media screen and (max-height:900px){
	.login_box{bottom:-220px;}
}
/*妫版ê绨辩粻锛勬倞-閸╃儤婀版穱鈩冧紖&妫版娲扮拠锔藉剰*/
/*妫版ê绨辩粻锛勬倞-閸╃儤婀版穱鈩冧紖*/
.tkgljbxx_contab{width:100%;}
.tkgljbxx_contab>li{display:none;}
.tkgljbxx_nav_list{float:left;width:60%;}
.tkgljbxx_choose_list{float:right;overflow:hidden;text-align:right;}
.tkgljbxx_choose_list>li{display:none;}
.tkgljbxx_choose_list button{margin-left:20px;height:40px;width:100px;}
.tkgljbxx_choose_bjbtn{width:100px;height:40px;border-radius:3px;color:#fff;background:rgba(6,193,174,1);}
.tkgljbxx_choose_returnbtn{width:100px;height:40px;border-radius:3px;background:#fff;color:#666666;border:#999999 solid 1px;}
.tkgljbxx_contab_title{width:100%;height:20px;line-height:20px;color:#666666;font-weight:bold;font-size:16px;}
.tkgljbxx_contab_ttxx{margin-top:15px;width:100%;background:#f8f8f8;padding:33px 0px 23px;overflow:hidden;border-radius:4px;}
.tkgljbxx_contab_ttxx>li{float:left;width:25%;margin-bottom:10px;box-sizing:border-box;padding:0px 40px;height:52px;border-right:#dddddd solid 1px;}
.tkgljbxx_contab_ttxx>li:nth-of-type(4n){border-right:none;}
.tkgljbxx_contab_ttxx>li:last-child{border-right:none;}
.tkgljbxx_contab_ttxxlb{height:52px;line-height:52px;font-size:24px;color:#333333;}
.tkgljbxx_contab_ttxxlb img{margin-right:20px;width:52px;height:52px;margin-right:20px;vertical-align:-17px;}
.tkgljbxx_contab_font1{font-size:20px;color:#333333;width:100%;height:22px;line-height:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:4px;}
.tkgljbxx_contab_font2{font-size:14px;color:#666666;width:100%;height:16px;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:8px;}
.tkgljbxx_contab_ttbqbox{margin-top:30px;}
.tkgljbxx_contab_ttbq{width:100%;box-sizing:border-box;padding:37px 30px 17px;background:#f8f8f8;margin-top:15px;border-radius:4px;}
.tkgljbxx_contab_ttbq>li{margin-bottom:20px;overflow:hidden;}
.tkgljbxx_contab_ttbq_title{float:left;width:85px;text-align:right;display:block;height:32px;line-height:32px;font-size:14px;color:#666666;}
.tkgljbxx_contab_ttbq_bq{float:left;margin-left:15px;text-align:center;display:block;height:32px;line-height:30px;min-width:100px;box-sizing:border-box;border:#06c1ae solid 1px;color:#06c1ae;font-size:14px;padding:0px 10px;border-radius:2px;background:#ffffff;}
.tkgljbxx_contab_ttjf{width:100%;overflow:hidden;border-radius:4px;}
.tkgljbxx_contab_ttjf>li{margin-bottom:20px;float:left;margin-left:15px;text-align:center;display:block;height:32px;line-height:30px;min-width:100px;box-sizing:border-box;border:#06c1ae solid 1px;color:#06c1ae;font-size:14px;padding:0px 10px;border-radius:2px;background:#ffffff;}
.tkgljbxx_contab_othercon{font-size:14px;color:#666666;line-height:22px;width:100%;height:22px;margin:15px 0px;}
.tkgljbxx_contab_othercon span{color:#333333;font-size:20px;vertical-align:-3px;margin-left:5px;}
/*妫版ê绨辩粻锛勬倞-妫版娲扮拠锔藉剰*/

.tkgljbxx_contab_title_tmsl span{color:#06c1ae;}
.tkgljbxx_contab_tmslcon{width:100%;box-sizing:border-box;padding:40px 40px 25px;background:#f8f8f8;border-radius:4px;margin-top:15px;overflow:hidden;}
.tkgljbxx_contab_tmslcon_title{float:left;color:#666666;font-size:14px;line-height:32px;height:32px;width:76px;text-align:right;}
.tkgljbxx_contab_tmslcon_list{float:left;margin-left:15px;width:calc(100% - 100px);overflow:hidden;}
.tkgljbxx_contab_tmslcon_list li{float:left;height:32px;border:#17c5b3 solid 1px;color:#17c5b3;font-size:14px;line-height:30px;text-align:center;border-radius:2px;min-width:100px;padding:0px 10px;box-sizing:border-box;margin-right:30px;background:#fff;margin-bottom:15px;}
.tkgljbxx_contab_txlx{width:100%;box-sizing:border-box;padding:35px 40px;background:#f8f8f8;border-radius:4px;margin-top:20px;}
.tkgljbxx_contab_tixing{float:left;border:#06c1ae solid 1px;border-radius:2px;overflow:hidden;}
.tkgljbxx_contab_txnum{display:block;float:left;min-width:70px;height:30px;line-height:30px;text-align:center;background:#fff;color:#06c1ae;font-weight:bold;font-size:14px;padding:0px 10px;box-sizing:border-box;position:relative;}
.tkgljbxx_contab_txnum::after{position:absolute;content:"";width:5px;height:5px;background:#fff;transform:rotate(45deg);right:-2px;top:12.5px;}
.tkgljbxx_contab_txfont{display:block;float:left;min-width:78px;height:30px;line-height:30px;background:#06c1ae;text-align:center;color:#fff;font-size:14px;padding:0px 10px;box-sizing:border-box;}
.tkgljbxx_contab_txcz{float:right;height:32px;}
.tkgljbxx_contab_txcz button{margin-left:20px;}
.tkgljbxx_contab_txcz_del{height:32px;line-height:30px;min-width:60px;padding:0px 10px;font-size:14px;color:#666666;border:#999999 solid 1px;background:#fff;border-radius:2px;}
.tkgljbxx_contab_txcz_bj{height:32px;line-height:30px;min-width:60px;padding:0px 10px;font-size:14px;color:#fff;background:#06c1ae;border-radius:2px;}
.tkgljbxx_contab_txlx_choose{overflow:hidden;}
.tkgljbxx_contab_txtmcon{margin-top:28px;width:100%;overflow:hidden;}
.tkgljbxx_contab_txtm_font{float:left;width:56px;color:#707070;font-size:14px;text-align:right;margin-top:15px;line-height:25px;}
.tkgljbxx_contab_txtm_content{float:left;padding:15px 20px;background:#fff;border:#dddddd solid 1px;border-radius:3px;margin-left:14px;width:60%;line-height:25px;color:#999999;font-size:14px;}
.tkgljbxx_contab_txtmchoose{margin-top:30px;}
.tkgljbxx_contab_txtmchoose>li{overflow:hidden;margin-top:20px;}
.tkgljbxx_contab_txtmchoose_font{float:left;width:56px;color:#707070;font-size:14px;text-align:right;line-height:40px;}
.tkgljbxx_contab_txtmchoose_con{float:left;width:60%;background:#fff;padding:7.5px 20px;line-height:25px;border:#dddddd solid 1px;border-radius:3px;margin-left:14px;color:#999999;}
.tkgljbxx_contab_txtmchoose_img{width:36px;height:36px;margin-top:2px;float:left;margin-left:20px;display:block}
.tkgljbxx_contab_txtmchoose_img img{width:100%;height:100%;}
.tkgljbxx_contab_txtmjx_box{margin-top:24px;overflow:hidden;}
.tkgljbxx_contab_txtmjx_font{float:left;width:56px;color:#707070;font-size:14px;text-align:right;line-height:25px;}
.tkgljbxx_contab_txtmjx_con{float:left;margin-left:14px;color:#333333;line-height:25px;width:60%;}
.tkgljbxx_contab_radiobox{margin-top:25px;overflow:hidden;}
.tkgljbxx_contab_radiochoose{float:left;margin-left:14px;}
.tkgljbxx_contab_radioxzbox{display:block;float:left;font-size:14px;line-height:25px;position:relative;}
.tkgljbxx_contab_radioxzbox_yes{margin-left:20px;}
.tkgljbxx_contab_radioxzbox_no{margin-left:40px;}
.tkgljbxx_contab_radioxzbox b{font-weight:normal;margin-left:10px;color:#06c1ae;}
.tkgljbxx_contab_radioxz{visibility:hidden;}
.tkgljbxx_contab_radioxz+label{position:absolute;content:"";box-sizing:border-box;width:16px;height:16px;border:#0cc2b0 solid 2px;border-radius:50%;left:0px;top:4px;}
.tkgljbxx_contab_radioxz:checked+label::before{position:absolute;content:"";width:8px;height:8px;background:#0cc2b0;border-radius:50%;left:2px;top:2px;}
.tkgljbxx_contab_txtmcontent{margin-top:0px;}

.tkgljbxx_contab_audiobox{width:100%;background:#f8f8f8;margin-top:20px;border-radius:3px;padding:35px 40px 36px 46px;box-sizing:border-box;overflow:hidden;}
/*闂婃娊顣堕弽宄扮础*/
.tkgljbxx_contab_audiocon{float:left;}
.audioplayer-time{border:none;}
.audioplayer-playpause:active{background:none;}
.audioplayer-playpause:hover{background:none;}
.audioplayer-playpause a{display:block;position:absolute;width:40px;height:40px;background:url("../../images/img_web/bf.png") no-repeat;background-size:100% 100%;}
.audioplayer-playpause .abq_stop{background:url("../../images/img_web/zt.png") no-repeat;}
.audioplayer{border:none;box-shadow:none;height:40px;position:relative;}
.audioplayer-bar{top:0px;margin-top:17px;left:110px;}
.audioplayer-bar,.audioplayer-bar-loaded{background:#cccccc;}
.audioplayer-time{color:#666666;font-family:"瀵邦喛钂嬮梿鍛寸拨";text-shadow:none;height:40px;line-height:40px;top:0px;}
.audioplayer-time-duration{left:710px;}
.audioplayer-time-current{left:50px;}
/*閸楁洟锟芥０妯鸿剨濡楋拷/
.fixed_tklxdxt{position:fixed;width:924px;box-sizing:border-box;padding:35px 50px;}
.fixed_tklxdxt_title{width:100%;font-size:16px;color:#333333;height:20px;line-height:20px;}
.fixed_tklxdxt_ts{width:700px;margin-top:15px;overflow:hidden;}
.fixed_tklxdxt_ts_font{float:left;height:20px;line-height:20px;font-size:12px;color:#999999;}
.fixed_tklxdxt_ts_font span{color:#ff1111;margin-right:10px;}
.fixed_tklxdxt_ts_btn{float:right;font-size:14px;color:#06c1ae;cursor:pointer;}
.fixed_tklxdxt_ts_btn i{margin-right:8px;}
.fixed_tklxdxt_choose{margin-top:20px;}
.fixed_tklxdxt_choose>li{margin-top:0px;}
.fixed_tklxdxt_choosecon{width:590px;color:#333333;}
.fixed_tklxdxt_radio{position:relative;display:block;float:left;width:36px;height:36px;margin-top:2px;margin-left:20px;}
.fixed_tklxdxt_xzradio{width:36px;height:36px;visibility:hidden;cursor:pointer;}
.fixed_tklxdxt_xzradio+label{position:absolute;content:"";width:36px;height:36px;background:url("../../images/img_web/fixed_tklxdxt_radio1.png") no-repeat;background-size:100% 100%;left:0px;top:0px;cursor:pointer;}
.fixed_tklxdxt_xzradio:checked+label{background:url("../../images/img_web/fixed_tklxdxt_radio2.png") no-repeat;}
.fixed_tklxdxt_delete{float:left;margin-top:2px;margin-left:20px;width:36px;height:36px;display:block;cursor:pointer;}
.fixed_tklxdxt_delete img{width:100%;height:100%;}
.fixed_tklxdxt_choosecon_yc{border:#f94747 solid 1px;}
.fixed_tklxdxt_choose_tsy{width:400px;margin-left:90px;line-height:26px;height:26px;font-size:14px;color:#f95353;}
.fixed_tklxdxt_choose_btn{margin-top:5px;text-align:center;width:100%;}
.fixed_tklxdxt_choose_bcbtn{width:100px;height:40px;color:#fff;background:#06c1ae;border-radius:3px;}
.fixed_tklxdxt_choose_qxbtn{width:100px;height:40px;color:#333333;background:#eeeeee;border-radius:3px;margin-left:20px;}
.fixed_tklxdxt_tcts{position:absolute;top:0px;left:0px;right:0px;bottom:0px;margin:auto;height:40px;line-height:20px;text-align:center;z-index:3;}
.fixed_tklxdxt_tcts span{background:rgba(0,0,0,0.55);color:#fff;padding:10px 25px;border-radius:3px;}
/*閺勵垶娼０妯鸿剨缁愶拷/
.tkgljbxx_contab_radiosft{margin-top:10px;}
.tkgljbxx_contab_radiosft b{color:#333;}
.tkgljbxx_contab_radiobsft+label{position:absolute;content:"";box-sizing:border-box;width:16px;height:16px;border:#cccccc solid 2px;border-radius:50%;left:0px;top:4px;}
.tkgljbxx_contab_radiobsft:checked+label::before{position:absolute;content:"";width:8px;height:8px;background:#ccc;border-radius:50%;left:2px;top:2px;}
/*閸掓稑缂撴總妤咁暯-閸氼剙濮�*/
.primary_listen{padding:0.1px 0px 20px;}
.primary_listen_top{box-sizing:border-box;width:100%;padding:20px 40px;border-bottom:#dddddd solid  1px;overflow:hidden;}
.primary_listen_top_font{float:left;display:block;font-size:24px;color:#666666;font-weight:bold;height:40px;line-height:40px;}
.primary_listen_top_font img{vertical-align:-6px;margin-right:20px;}
.primary_listen_top_lx{margin-left:16px;height:20px;float:left;line-height:20px;display:block;font-size:14px;color:#999999;margin-top:16px;}
.primary_listen_con{box-sizing:border-box;padding:40px;}
.primary_listen_con_txtitle{height:20px;line-height:20px;font-size:18px;color:#666666;font-weight:bold;}
.primary_listen_con_txtitle i{color:#f11e1e;margin-right:10px;}
.primary_listen_con_tjbt{font-size:14px;overflow:hidden;margin-left:20px;margin-top:20px;}
.primary_listen_con_tjbt span{color:#666666;float:left;display:block;height:32px;line-height:32px;font-size:14px;margin-right:25px;}
.primary_listen_con_tjbtinput{height:32px;width:244px;box-sizing:border-box;border:#999999 solid 1px;border-radius:3px;padding:0px 10px;font-size:14px;color:#333;}
.primary_listen_con_tjbq{height:20px;line-height:20px;font-weight:bold;font-size:18px;color:#666666;margin-left:20px;margin-top:30px;}
.primary_listen_con_tjbq span{color:#999999;font-weight:normal;font-size:14px;vertical-align:text-bottom;margin-left:10px;}
.primary_listen_nj{overflow:hidden;margin-top:35px;}
.primary_listen_njfont{float:left;font-size:14px;color:#666666;height:32px;line-height:32px;}
.primary_listen_njfont i{color:#f11e1e;margin-right:13px;font-weight:bold;}
.primary_listen_njchoose{float:left;overflow:hidden;margin-left:25px;width:calc(100% - 120px);}
.primary_listen_njchoose li{float:left;height:32px;min-width:100px;display:block;box-sizing:border-box;padding:0px 10px;line-height:32px;text-align:center;color:#999999;background:#e9e9e9;border-radius:3px;margin-right:20px;cursor:pointer;font-size:14px;margin-bottom:10px;}
.primary_listen_njchoose .primary_listen_njchoose_li_click{background:#06c1ae;color:#fff;}
.primary_listen_wcttfont{margin-left:20px;}
.primary_listen_wcttlist{width:calc(100% - 175px);}
.primary_listen_vip{overflow:hidden;margin-top:35px;}
.primary_listen_vip_font{font-size:14px;color:#666666;height:25px;line-height:25px;margin-left:20px;float:left;}
.primary_listen_vip_choosecheck b{color:#999999;}
.primary_listen_vip_choosecheck_yes{margin-left:5px;}
.primary_listen_province{width:100px;height:32px;display:block;border-radius:3px;border:#999999 solid 1px;padding:0px 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;margin-left:26px;color:#333;}
.primary_listen_vip_province{height:32px;line-height:32px;}
.primary_listen_province_add{float:left;display:block;height:32px;line-height:32px;font-size:14px;color:#06c1ae;margin-left:20px;cursor:pointer;}
.primary_listen_province_add i{margin-right:8px;}
.primary_listen_school{width:176px;}
/*閸氼剙濮忓鍦崶*/
.fixed_listen_bottom{margin-top:0px;}
.listen_tccon{padding:40px;}
.listen_tccon_bq{overflow:hidden;}
.listen_tccon_bqfont{float:left;height:32px;line-height:32px;color:#333333;font-size:16px;}
.listen_tccon_bqfont i{color:#ff1111;margin-right:6px;vertical-align:-3px;}
.listen_tccon_bqinput{float:left;height:32px;line-height:30px;width:384px;color:#333;box-sizing:border-box;border:#dddddd solid 1px;border-radius:2px;padding:0px 10px;margin-left:20px;font-size:16px;}
/*閹躲儴銆冪紒鐔活吀*/
.primary_bbtj{background:none;padding:0px;}
.bbtj_top{width:100%;overflow:hidden;}
.bbtj_top_font{float:left;font-size:20px;color:#666666;display:block;height:40px;line-height:40px;}
.bbtj_top_list{float:right;}
.bbtj_top_list li{float:left;height:40px;line-height:40px;box-sizing:border-box;font-size:16px;color:#666666;text-align:center;width:60px;margin-left:25px;cursor:pointer;}
.bbtj_top_list .bbtj_top_list_li{color:#17c5b3;font-weight:bold;border-bottom:#17c5b3 solid 3px;}
.primary_bbtj_bb{width:100%;background:#fff;padding:30px 40px 40px;box-sizing:border-box;margin-bottom:20px;}
.bbtj_top_box{width:100%;margin-top:20px;}
.bbtj_top_box>li{width:100%;overflow:hidden;margin-bottom:20px;}
.bbtj_top_boxleft{float:left;width:420px;height:317px;border:#dddddd solid 1px;box-sizing:border-box;border-radius:3px;padding:30px 40px;margin-right:10px;margin-bottom:20px;}
.bbtj_top_boxleft_title{display:block;height:40px;line-height:40px;font-size:20px;color:#666666;border-bottom:#dddddd solid 3px;box-sizing:border-box;min-width:40px;float:left;}
.bbtj_top_boxleft_numfont{color:#666666;font-size:16px;line-height:20px;clear:both;margin-top:90px;}
.bbtj_top_boxleft_num{font-size:40px;line-height:45px;color:#333333;margin-top:15px;}
.bbtj_top_boxleft_hbsz{height:20px;line-height:20px;font-size:16px;color:#666666;margin-top:25px;}
.bbtj_top_boxleft_hbsz span{color:#06c1ae;font-weight:bold;margin-left:12px;}
.bbtj_top_boxleft_hbsz img{vertical-align:2px;margin-left:5px;}
.bbtj_top_boxright{width:1100px;height:317px;box-sizing:border-box;border:#dddddd solid 1px;border-radius:3px;float:left;}
.bbtj_top_fontz{font-size:14px;color:#06c1ae;margin-left:12px;}
.bbtj_top_tablebox{width:100%;margin-top:35px;}
.bbtj_top_tablebox>li{width:100%;}
.bbtj_top_table{width:100%;color:#666666;}
.bbtj_top_table thead tr{background:#f2f2f2;width:100%;}
.bbtj_top_table thead tr th{color:#333333;font-size:14px;line-height:20px;padding:12px 0px;text-align:center;}
.bbtj_top_table thead tr .bbtj_top_table1{padding-left:20px;text-align:left;}
.bbtj_top_table tbody tr:nth-of-type(n){background:none;}
.bbtj_top_table tbody tr:nth-of-type(2n){background:#fbfbfb;}
.bbtj_top_table tbody tr td{padding:12px 0px;line-height:20px;text-align:center;}
.bbtj_top_table tbody tr .bbtj_top_table1{padding-left:20px;text-align:left;}
.bbtj_top_tabletjbox{overflow:hidden;width:260px;margin:0px auto;}
.bbtj_top_tablebfb{display:block;float:left;}
.bbtj_top_tablezbtj{float:left;position:relative;width:200px;height:6px;background:#cccccc;border-radius:6px;margin-left:25px;margin-top:7px;overflow:hidden;}
.bbtj_top_tablezbtj span{position:absolute;left:0px;top:0px;width:40%;background:#06c1ae;height:6px;border-radius:6px;}
.bbtj_top_jzfont{font-size:14px;color:#999999;}
.primary_bbtj_sctime{height:45px;line-height:45px;color:#999999;font-size:14px;margin-top:15px;}
.primary_bbtj_sctime span{font-size:40px;color:#06c1ae;}
.primary_bbtj_sctime span i{font-size:24px;margin-right:10px;}
.prima_bao2 { height:260px; width:100%;}

/*閸掓稑缂撴總妤咁暯-妫版娲扮拋鍓х枂*/
.timu_selt {overflow:hidden;margin-left:25px;width:calc(100% - 120px); padding:25px 0 15px 0;}
.timu_selt li{float:left;height:32px;min-width:100px;display:block;box-sizing:border-box;padding:0px 10px;line-height:32px;text-align:center;background:#06c1ae;color:#fff;border-radius:3px;margin-right:20px;cursor:pointer;font-size:14px;margin-bottom:10px;}
.timu_seltall {box-sizing:border-box;padding:0 30px 30px 30px;}
.timu_seltall_tit { display:block; color:#666666; font-size:16px; padding:10px 0; font-weight:bold;}
.timu_seltall_left { width:calc(30% - 60px); float:left; padding-right:30px; background:url(../../images/img_web/danci_next.png) no-repeat 98% center;}
.timu_seltall_left1 { width:calc(100% - 50px); background:#f8f8f8; border-radius:6px; height:550px; padding:25px;}
.timu_seltall_left1 ul { height:510px; overflow-y:scroll; width:100%; float:left; margin-top:20px;}
.timu_seltall_left1 ul li { line-height:22px; color:#333333; font-size:14px; width:100%; float:left; padding:5px 0;}
.timu_seltall_left1_s { width:100%; float:left;}
.timu_seltall_left1_s .wbk_a{width:calc(98% - 149px); padding:0px 1%; height:30px; line-height:30px; border:1px solid #dddddd; border-radius:5px; float:left;}
.timu_seltall_left1_s .search_bt1 { width:60px; height:30px; line-height:30px; text-align:center; color:#fff; cursor:pointer; background:#06c1ae;float:left; margin:0 10px; border:none; border-radius:5px; font-size:14px;}
.timu_seltall_left1_s .search_bt2 { width:60px; height:30px; line-height:30px; text-align:center; color:#666666; cursor:pointer; background:#fff; float:left; margin:0;border:1px solid #999999; border-radius:5px; font-size:14px;}
.timu_seltall_right { width:70%; float:left;}
.timu_seltall_right ul { height:550px; overflow-y:scroll; width:100%; float:left; background:#f8f8f8; border-radius:6px;padding:25px;}
.timu_seltall_right ul li { min-width:140px; display:inline-block; margin-right:20px; margin-bottom:20px; background:#fff; line-height:30px;border-radius:4px; border:1px solid #dddddd; padding:0 5px;}
.timu_seltall_right ul li span { height:30px; width:15px; float:right; background:url(../../images/img_web/danci_del.png) no-repeat center center; cursor:pointer;}
.timu_seltall_text {float:left;height:300px;line-height:22px;width:100%;color:#333;box-sizing:border-box;border:#dddddd solid 1px;border-radius:2px;padding:10px;font-size:16px;}
