@charset"utf-8";

		#wrapper

		{

			width: 30em; /* 480 */

			height: 8.75em; /* 140 */

			position: absolute;

			top: 50%;

			left: 50%;

			margin: -4.375em 0 0 -15em; /* 70 240 */

		}

		h1

		{


			font-size: 1.688em; /* 27 */

			font-weight: 500;

			text-align: center;

			margin-bottom: 0.741em; /* 20 */

		}

		



			#copyright a

			{

				font-weight: 700;

			}





		/*

			PLAYER

		*/



		.audioplayer

		{

			height: 2.5em; /* 40 */


			text-shadow: 1px 1px 0 #000;

			border: 1px solid #222;

			position: relative;

			z-index: 1;

			background: none !important;
			width:900px;

		}





			/* mini mode (fallback) */



			.audioplayer-mini

			{

				width: 2.5em; /* 40 */

				margin: 0 auto;

			}





			/* player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played */



			.audioplayer > div

			{

				position: absolute;

			}





			/* play/pause button */



			.audioplayer-playpause

			{

				width: 2.5em; /* 40 */

				height: 100%;

				text-align: left;

				text-indent: -9999px;

				cursor: pointer;

				z-index: 2;

				top: 0;

				left: 0;

			}

				

				.audioplayer-mini .audioplayer-playpause

				{

					width: 100%;

				}

			

				.audioplayer-playpause a

				{

					display: block;

				}

				





			/* timers */



			.audioplayer-time

			{

				width: 4.375em; /* 70 */

				height: 100%;

				line-height: 2.375em; /* 38 */

				text-align: center;

				z-index: 2;

				top: 0;

			}

				.audioplayer-time-current

				{

					border-left: 1px solid #111;

					border-left-color: rgba( 0, 0, 0, .25 );

					left: 2.5em; /* 40 */

				}

				.audioplayer-time-duration

				{

					border-right: 1px solid #555;

					border-right-color: rgba( 255, 255, 255, .1 );

					right: 2.5em; /* 40 */

				}

					.audioplayer-novolume .audioplayer-time-duration

					{

						border-right: 0;

						right: 0;

					}





			/* progress bar of loaded/played */



			.audioplayer-bar

			{

				width:600px;height:6px;

				background-color: #222;

				cursor: pointer;

				z-index: 1;

				top: 50%;

				right: 6.875em; /* 110 */

				left: 6.875em; /* 110 */

				margin-top: -0.438em; /* 7 */

			}

				.audioplayer-novolume .audioplayer-bar

				{

					right: 4.375em; /* 70 */

				}

				.audioplayer-bar div

				{

					width: 0;

					height: 100%;

					position: absolute;

					left: 0;

					top: 0;

				}

				.audioplayer-bar-loaded

				{

					background-color: #333;

					z-index: 1;

				}

				.audioplayer-bar-played

				{

					background: #06c1ae;

					z-index: 2;

				}





			/* volume button */



			.audioplayer-volume{display:none;}

				

				.audioplayer-volume-button

				{

					width: 100%;

					height: 100%;

				}

					.audioplayer-volume-button a

					{

						width: 0.313em; /* 5 */

						height: 0.375em; /* 6 */

						background-color: #fff;

						display: block;

						position: relative;

						z-index: 1;

						top: 40%;

						left: 35%;

					}

						.audioplayer-volume-button a:before,

						.audioplayer-volume-button a:after

						{

							content: '';

							position: absolute;

						}

						.audioplayer-volume-button a:before

						{

							width: 0;

							height: 0;

							border: 0.5em solid transparent; /* 8 */

							border-left: none;

							border-right-color: #fff;

							z-index: 2;

							top: 50%;

							right: -0.25em;

							margin-top: -0.5em; /* 8 */

						}

						.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after

						{

							/* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */

							width: 0.313em; /* 5 */

							height: 0.313em; /* 5 */

							border: 0.25em double #fff; /* 4 */

							border-width: 0.25em 0.25em 0 0; /* 4 */

							left: 0.563em; /* 9 */

							top: -0.063em; /* 1 */

							-webkit-border-radius: 0 0.938em 0 0; /* 15 */

							-moz-border-radius: 0 0.938em 0 0; /* 15 */

							border-radius: 0 0.938em 0 0; /* 15 */

							-webkit-transform: rotate( 45deg );

							-moz-transform: rotate( 45deg );

							-ms-transform: rotate( 45deg );

							-o-transform: rotate( 45deg );

							transform: rotate( 45deg );

						}





				/* volume dropdown */



				.audioplayer-volume-adjust

				{

					height: 6.25em; /* 100 */

					cursor: default;

					position: absolute;

					left: 0;

					right: -1px;

					top: -9999px;

					background: #333;

				}

					.audioplayer-volume:not(:hover) .audioplayer-volume-adjust

					{

						opacity: 0;

					}

					.audioplayer-volume:hover .audioplayer-volume-adjust

					{

						top: auto;

						bottom: 100%;

					}

					.audioplayer-volume-adjust > div

					{

						width: 40%;

						height: 80%;

						background-color: #222;

						cursor: pointer;

						position: relative;

						z-index: 1;

						margin: 30% auto 0;

					}

						.audioplayer-volume-adjust div div

						{

							width: 100%;

							height: 100%;

							position: absolute;

							bottom: 0;

							left: 0;

							background: #007fd1;

						}

				.audioplayer-novolume .audioplayer-volume

				{

					display: none;

				}





			/* CSS3 decorations */



			



		

		

			.audioplayer-bar,

			.audioplayer-bar div,

			.audioplayer-volume-adjust div

			{

				-webkit-border-radius: 4px;

				-moz-border-radius: 4px;

				border-radius: 4px;

			}

			.audioplayer

			{

				-webkit-border-radius: 2px;

				-moz-border-radius: 2px;

				border-radius: 2px;

			}

			.audioplayer-volume-adjust

			{

				-webkit-border-top-left-radius: 2px;

				-webkit-border-top-right-radius: 2px;

				-moz-border-radius-topleft: 2px;

				-moz-border-radius-topright: 2px;

				border-top-left-radius: 2px;

				border-top-right-radius: 2px;

			}

			.audioplayer *,

			.audioplayer *:before,

			.audioplayer *:after

			{

				-webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;

				-moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;

				-ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;

				-o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;

				transition: color .25s ease, background-color .25s ease, opacity .5s ease;

			}







