<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-lazy-init="true">

    <description>Shiro安全配置</description>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		
	</bean>

	<!-- 	shiro 过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    	<property name="loginUrl" value="/login"/>
    	<property name="securityManager" ref="securityManager"/>
    	<property name="filterChainDefinitions">
    		<value>
    			 /login = anon
    			/static/** = anon
    		    /** = user
    		</value>
    	</property>
    </bean>
</beans>